<table class="table">

    <thead>
        <tr>
            <th class="id">ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (ticket of listaProductos; track ticket.id) {
        <tr [ngStyle]="{ 'background-color': ticket.precio > 15000 ? 'yellow' : 'lightgreen' }">
            <th>{{ticket.id}}</th>
            <td>{{ticket.nombre}}</td>
            <td>{{ticket.categoria}}</td>
            <td>{{ticket.precio}}</td>

            <td class="botones">
                <button type="button" class="btn btn-primary" [disabled]="ticket.precio > 15000">Asignar</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/dashboard-soporte', ticket.id]">Detalle</button>
            </td>
        </tr>
        }
    </tbody>
</table>