<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-success" (click)="filtrarNoAsignado()">
        Abierto
    </button>
    <button type="button" class="btn btn-warning" (click)="filtrarAsignado()">
        Asignado
    </button>
</div>

<hr>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Categoria</th>
            <th>ClienteID</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (ticket of listaTickets; track ticket.id) {
        <tr [ngStyle]="{ 'background-color': ticket.fechaAsignacion == null ? '#198754' : '#ffc107' }">
            <th>{{ticket.id}}</th>
            <td>{{ticket.titulo}}</td>
            <td>{{ticket.categoria}}</td>
            <td>{{ticket.clienteID}}</td>

            <td class="botones">
                <button type="button" class="btn btn-primary" (click)="asignarTicket(ticket.id)" [disabled]="ticket.fechaAsignacion !== null">Asignar</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/menu/dashboard-soporte', ticket.id]">Detalle</button>
            </td>
        </tr>
        }
    </tbody>
</table>