.id1 {
    background-color: gray;
    border-radius: 10px 0px 0px 10px;
}

th, td {
    background-color: transparent;
}

.botones {
    text-align: end;
}

.btn {
    margin: auto 1%;
}

.modalTicket {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}